# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Local datasets
data/
dataset/
datasets/
test_images/

# Kaggle cache
.kaggle/
.cache/

# TensorFlow
*.h5
*.keras

# Streamlit
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/